{% extends "base.html" %}

{% block title %}
Novo pedido | MZT - Core
{% endblock %}

{% block content %}

<section class="page-header">

    <div>

        <a href="{% url 'pedidos:lista' %}" class="back-link">
            ← Voltar para pedidos
        </a>

        <h2>
            Novo pedido
        </h2>

        <p>
            Cadastre os dados comerciais e operacionais do pedido.
        </p>

    </div>

</section>


<section class="detail-card detail-full">

    <div class="card-header">
        <h3>
            Dados do pedido
        </h3>
    </div>


    <form method="post" class="pedido-form">

        {% csrf_token %}


        {% if form.non_field_errors %}

        <div class="form-errors">

            {% for erro in form.non_field_errors %}

            <p>
                {{ erro }}
            </p>

            {% endfor %}

        </div>

        {% endif %}


        <div class="form-grid">

            {% for field in form %}

            <div class="form-field
                    {% if field.name == 'observacao' %}
                        form-field-full
                    {% endif %}">

                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>

                {{ field }}

                {% if field.help_text %}

                <small>
                    {{ field.help_text }}
                </small>

                {% endif %}


                {% for erro in field.errors %}

                <div class="field-error">
                    {{ erro }}
                </div>

                {% endfor %}

            </div>

            {% endfor %}

        </div>


        <div class="form-actions">

            <a href="{% url 'pedidos:lista' %}" class="button-secondary">
                Cancelar
            </a>

            <button type="submit" class="button-primary">
                Cadastrar pedido
            </button>

        </div>

    </form>

</section>

{% endblock %}
